# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\HISHAM_CSE  ASUS\CSE L-1,T-2\CSE 107\JAVA\RIFAT SIR NEW JDK 11\5.Java-Package_Interface_Exception\Assignment\1805004\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
